WindowsFormsClient/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="getdata" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibraryData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Igetdata_AllData_InputMessage">
    <wsdl:part name="parameters" element="tns:AllData" />
  </wsdl:message>
  <wsdl:message name="Igetdata_AllData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllDataResponse" />
  </wsdl:message>
  <wsdl:message name="Igetdata_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="Igetdata_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="Igetdata_searchData_InputMessage">
    <wsdl:part name="parameters" element="tns:searchData" />
  </wsdl:message>
  <wsdl:message name="Igetdata_searchData_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchDataResponse" />
  </wsdl:message>
  <wsdl:message name="Igetdata_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="Igetdata_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:portType name="Igetdata">
    <wsdl:operation name="AllData">
      <wsdl:input wsaw:Action="http://tempuri.org/Igetdata/AllData" message="tns:Igetdata_AllData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Igetdata/AllDataResponse" message="tns:Igetdata_AllData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/Igetdata/Create" message="tns:Igetdata_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Igetdata/CreateResponse" message="tns:Igetdata_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchData">
      <wsdl:input wsaw:Action="http://tempuri.org/Igetdata/searchData" message="tns:Igetdata_searchData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Igetdata/searchDataResponse" message="tns:Igetdata_searchData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/Igetdata/update" message="tns:Igetdata_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Igetdata/updateResponse" message="tns:Igetdata_update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Igetdata" type="tns:Igetdata">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AllData">
      <soap:operation soapAction="http://tempuri.org/Igetdata/AllData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Igetdata/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchData">
      <soap:operation soapAction="http://tempuri.org/Igetdata/searchData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/Igetdata/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="getdata">
    <wsdl:port name="BasicHttpBinding_Igetdata" binding="tns:BasicHttpBinding_Igetdata">
      <soap:address location="http://localhost:8877/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>