WindowsFormsClient/Service References/ServiceReference1/WcfServiceLibraryData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibraryData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibraryData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfmyData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="myData" nillable="true" type="tns:myData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmyData" nillable="true" type="tns:ArrayOfmyData" />
  <xs:complexType name="myData">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="myData" nillable="true" type="tns:myData" />
</xs:schema>